@page "/ColourZone"

<h3>SeeColourZone</h3>

<head>
    <meta http-equiv="refresh" content="10" />
</head>
<p><em>Name: @use.Namey</em></p>
<br>
<p><em>The Id: @use.getId</em></p>

<br>
<br>

@if ((use.getLogin == false) || (use.getisload == false))
{
    <p><em>please login and loadData</em></p>
}
else
{
    <label for="zonn">Choose a Zone:</label>
    <select @onchange="selectZone" name="zonne" id="zonies">
        @foreach (var zon in country.zones)
        {
            <option value="@zon.namezone">@zon.namezone</option>
        }
        </select>
        <br>
    <br>
    <input type="text" @bind-value="ColourOfZoneSelect" @bind-value:event="oninput" id="colorzoneselect" name="slectzoneofcolor">
}
        @code {

            Data.User use;
            Data.Country country;
            string ColourOfZoneSelect;
            Data.Zone zonni;
            string name;

            protected override void OnInitialized()
            {
                use = Data.User.GetInstance;
                country = Data.Country.GetInstance;
            }
            private void selectZone(ChangeEventArgs e)
            {

                name = e.Value.ToString();
                foreach(var zon in country.zones)
                {
                    if(zon.namezone.Equals(name))
                    {
                        zonni = zon;
                        break;
                    }
                }
                ColourOfZoneSelect = zonni.getColor;

            }

        }
